{% extends 'core/layout.html' %}


{% block content %}
    <br>
    <h2>Poster un commentaire</h2>
    <br>
    <h3>Formulaire GET</h3>
    <form method="get" action="save_comment">
        {# {% csrf_token %} #}
        <label for="body">Message : </label>
        <input type="text" name="body">
        <input type="submit" value="Créer">
    </form>
    <br>
    <h3>Formulaire POST</h3>
    <form method="post" action="save_comment_post">
        {% csrf_token %}
        <label for="body">Message : </label>
        <input type="text" name="body">
        <input type="submit" value="Créer">
    </form>



{% endblock %}
